@import "./../../config/variable.scss";
.navigation {
  background-color: $dark_purple;
  color: $tiles_background;
  h1 {
    font-size: 16px;
  }
  .navigation-item {
    color: $tiles_background;
    text-decoration: none;
  }
  .navbar-collapse {
    position: fixed;
    top: 56px; /* adjust to height of navbar */
    right: 0;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    width: 30%;
    height: 100%;
    background-color: $dark_sub;
    text-align: center;
    margin-left: 1344px !important;
  }

  .navbar-collapse.collapsing {
    right: -30%;
    transition: height 0s ease;
  }

  .navbar-collapse.show {
    right: 0;
    transition: right 300ms ease-in-out;
  }

  .navbar-toggler.collapsed ~ .navbar-collapse {
    transition: right 500ms ease-in-out;
  }
}
