@import "@/assets/styles/index.scss";
.home {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: $main_component_margin;
    &__content {
        color: $title-color;
    }
}
