@import "@/assets/styles/index.scss";

.spinner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.1);
    &__spinner {
        color: $primary-color;
        margin-top: -25%;
        margin-bottom: 10px;
    }
}
