@import "@/assets/styles/index.scss";

.statement-card {
    position: relative;
    &__card {
        background-color: $accent-yellow;
        border: 2px solid greenyellow;
        color: #24242f;
        padding: 30px 40px;
        font-weight: 600;
        box-sizing: border-box;
        border-radius: 12px;
        white-space: pre-line;
    }
    &__character {
        align-self: center;
        position: absolute;
        top: 75%;
        left: 40%;
    }
    @media (max-width: $tablet-max) {
        &__character {
            @include character-size;
            // width: 30px;
        }
    }
}
