@import "@/assets/styles/index.scss";
.gradient-bg {
    width: 100vw;
    &__dot {
        user-select: none;
        pointer-events: none;
        padding-right: 20px;
        mix-blend-mode: hard-light;
        filter: blur(162.359px);
        z-index: -1;
    }
    @media (max-width: $tablet-max - 1) {
        display: none;
    }
}
