@import "@/assets/styles/index.scss";
$page-width: 90%;
.project-description {
    display: flex;
    width: $page-width;
    // margin-top: 50px;
    text-transform: uppercase;
    @media (max-width: $tablet-min) {
        flex-direction: column;
    }
    &__item {
        // height: 150px;
        margin-bottom: 3%;
        @media (max-width: $tablet-min) {
            display: block;
            overflow: auto;
            height: auto;
            padding: 10px 0;
        }
    }
    &__title-container{
        @media (max-width: $tablet-min) {
            display: flex;
            align-items: center;
        }
    }
    &__line {
        height: 40px;
        margin-left: -2%;
        margin-right: 30px;
        border-left: 2px solid $accent-yellow;
        position: absolute;
    }

    &__title {
        margin-right: 120px;
        font-family: Manrope;
        font-style: normal;
        font-weight: 500;
        font-size: 32px;
        line-height: 32px;
        color: $dark-green;
        @media (max-width: $tablet-min) {
            line-height: normal;
            display: block;
        }
    }

    &__para {
        width: 500px;
        height: fit-content;
        &:not(:last-child) {
            margin-right: 120px;
        }
        color: $title-color;
        font-weight: 500;
        @media (max-width: $tablet-min) {
            width: 100%;
        }
    }
}
