@import "@/assets/styles/index.scss";
$page-width: 90%;
.project-description {
    display: flex;
    width: $page-width;
    &__item {
        // margin-bottom: 3%;
    }

    &__title {
        margin-left: -2vw;
        padding-left: 2vw;
        margin-right: 120px;
        font-family: Manrope;
        font-style: normal;
        font-weight: 500;
        font-size: 32px;
        line-height: 32px;
        color: $dark-green;
        border-left: 2px solid $accent-yellow;
        width: 16vw;
        @media (max-width: $tablet-max - 1) {
            width: 100vw;
        }
    }

    &__para {
        height: fit-content;
        color: $title-color;
        font-weight: 500;
        white-space: pre-line;
        &:not(:last-child) {
            margin-right: 120px;
        }
        &.one-col {
            width: 100%;
        }
        &.two-col {
            width: 40%;
        }
    }

    @media (max-width: $tablet-max - 1) {
        flex-direction: column;
        &__title {
            font-size: $project-detail-title-mobile-size + 5px;
            margin-left: -2vw;
            padding-left: 2vw;
        }
        &__item {
            margin-bottom: 10px;
            padding-top: 0;
            padding-bottom: 0;
        }
        &__title {
            line-height: normal;
            display: block;
            &-container {
                display: flex;
                align-items: center;
            }
        }
        &__para {
            width: 100%;
            &.two-col {
                width: 100%;
            }
        }
    }

    @media (min-width: $mobile-max) and (max-width: $tablet-min - 1) {
        &__title {
            font-size: $project-detail-title-tablet-size + 5px;
            margin-left: -2vw;
            padding-left: 2vw;
        }
    }
}
