@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@500&display=swap");
$mobile-max: 480px;
$tablet-min: 768px;
$tablet-max: 1200px;

$screen-height: 400vh;
$main-component-margin: 10px;

$primary-color: #9b51e0;
$title-color: #f3efe5;
$accent-yellow: #ffe818;
$dark_green: #60d88b;
$accent_green: #68cc58;
$dark_sub: #343141;
$background: #1f1d28;
$drawer-background: #343141;
$timeline-color: #928ca6;
