@import "@/assets/styles/index.scss";

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 80px 20px;
    height: fit-content;
    &__container {
        border-bottom: 1px dashed #c5b89f;
        min-width: 90%;
    }
    &__card {
        margin-bottom: 30px;
        font-weight: 500;
    }

    &__character {
        &-avatar {
            position: absolute;
            top: -10%;
            left: -100%;
        }
        &-img-left {
            position: absolute;
            top: 18%;
            left: -6%;
        }
        &-img-right {
            position: absolute;
            bottom: 24%;
            right: -6%;
        }
        &-container {
            position: relative;
        }
    }
    @media (max-width: $tablet-min) {
        margin: 20px 0;
    }
    &__arrow {
        z-index: -1;
        width: 256px;
        height: 256px;
        background-color: transparent;
        position: relative;
        margin-bottom: 30px;
        &.top-left {
            transform: rotate(-90deg);
        }
        &.bottom-right {
            transform: rotate(90deg);
        }
        &.bottom-left {
            transform: rotate(180deg);
        }
    }
}
